# Archivos y carpetas generados por el entorno de desarrollo
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración específicos del entorno de desarrollo
.env
venv/
.env/

# Archivos de registro y salida
*.log
*.swp

# Archivos y carpetas generadas por herramientas de construcción
build/
dist/
*.egg-info/

# Carpeta de dependencias
lib/

# Archivos y carpetas específicos del IDE
.idea/
.vscode/
